/* Alert.css */
.alert-container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050; /* Ensure the alert is on top of other elements */
  width: 80%;
  max-width: 600px;
}

.alert.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}
