@import url("palette.css");

.cardHeader {
  background-color: var(--color-header) !important;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: var(--color-border);
  color: var(--color-text-light);
}

.cardBody {
  background-color: var(--color-body) !important;
  color: var(--color-text-dark) !important;
  border: 0;
}
