@import url("palette.css");

.tableHeader {
  background-color: var(--color-secondary) !important;
  color: var(--color-soft-white) !important;
}

.tableRow {
  background-color: var(--color-highlight-2) !important;
}

.tableTextRow {
  background-color: var(--color-highlight-2) !important;
  color: #ececec !important;
}

.buttonContainer {
  display: inline-block !important;
  margin: 2px !important;
}
