.tableHeader {
  background-color: rgb(48, 48, 48) !important;
  color: #ececec !important;
}

.tableRow {
  background-color: rgb(126, 126, 126) !important;
}

.tableTextRow {
  background-color: rgb(126, 126, 126) !important;
  color: #ececec !important;
}
